<h1>Dashboard funcionando</h1>

<ng-container *ngIf="summary()">
  <p>Receitas: {{ summary()?.income }}</p>
  <p>Despesas: {{ summary()?.expense }}</p>
  <p>Saldo: {{ summary()?.balance }}</p>
</ng-container>

<p>Quantidade: {{ transactions().length }}</p>
<li *ngFor="let t of transactions()">
  {{ t.description }} — {{ t.amount }}

  <button [routerLink]="['/transactions/edit', t.id]">
    Editar
  </button>

  <button (click)="delete(t.id)">
    Excluir
  </button>
</li>

<button routerLink="/transactions/new">
  Nova Transação
</button>